[user]
	email = kabirg108@gmail.com
	name = Kabir Gupta
[credential]
    helper = store
[pull]
    rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = master
